<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
		<csrf />
		<!-- !!!!!!!!!!!!!!!!!!!!! Reihenfolge wichtig! /** IMMER zum schluss!!! -->
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/fillDatabase" access="permitAll" /> <!-- //TODO: remove before submitting -->
		
		
		<intercept-url pattern="/deleteStudent" access="hasRole('ADMIN')" /> 	<!-- nun kann ein User keine Students mehr löschen -->
		<intercept-url pattern="/editStudent" access="hasRole('ADMIN')" /> 		<!-- nun kann ein User keine Students mehr editieren -->
		<intercept-url pattern="/addStudent" access="hasRole('ADMIN')" /> 		<!-- nun kann ein User keine Students mehr erstellen -->
		<intercept-url pattern="/fillStudents" access="hasRole('ADMIN')" /> 	<!-- nun kann ein User keine Students-Liste mehr erstellen -->
		
		<intercept-url pattern="/user" access="hasRole('ADMIN')" /> 			<!-- only allow Admins to directly view user Database -->
		<intercept-url pattern="/addUser" access="hasRole('ADMIN')" /> 			<!-- only allow Admins to add users -->
		<intercept-url pattern="/editUser" access="hasRole('ADMIN')" /> 		<!-- only allow Admins to directly edit users -->
		<intercept-url pattern="/deleteUser" access="hasRole('ADMIN')" /> 		<!-- only allow Admins to delete users -->
		
		<intercept-url pattern="/userrole" access="hasRole('ADMIN')" /> 		<!-- only allow Admins to directly view user_role Database -->
		<intercept-url pattern="/addUserrole" access="hasRole('ADMIN')" /> 		<!-- only allow Admins to add user roles -->
		<intercept-url pattern="/editUserrole" access="hasRole('ADMIN')" /> 	<!-- only allow Admins to directly edit user roles -->
		<intercept-url pattern="/deleteUserrole" access="hasRole('ADMIN')" /> 	<!-- only allow Admins to delete user roles -->
		
		<intercept-url pattern="/**" access="hasRole('USER')" /> 				<!-- /** => jede url nach dem Slash, egal wie viele / noch kommen -->
		<form-login login-page="/login" />
		<form-login default-target-url="/" always-use-default-target="true" login-page="/login" />
		<logout logout-success-url="/login" logout-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
</b:beans>